:root {
    --primary-color: #f1b861;
    --primary-contrast-color: #fff;
    --primary-highlight-color: #ffd79a;
    --secondary-color: #333;
    --secondary-constast-color: #fff;

    --main-color : var(--secondary-color);
    --background-color: var(--secondary-constast-color);
}


/* Reset some default browser styles */
body,p{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    color: var(--primary-color);
    margin: 0;
}



/* Set a background color and font for the body */
body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    color: var(--main-color);
}

/* Style the header */
header {
    background-color: var(--primary-color);
    color: var(--primary-contrast-color);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1, header h3, header a {
    color: var(--primary-contrast-color);
    margin: 0;
    text-decoration: none;
}

.header-divider {
    width: 0;
    height: 80px;
    border-left: var(--primary-contrast-color) 1px solid;
}

/* Style the main content area */
main {
    padding: 2em;
}

button, .button {
    background-color: var(--primary-color);
    color: var(--primary-contrast-color);
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
}
button:hover, .button:hover {
    background-color: var(--primary-highlight-color);
    text-decoration: none;
}
.navigate::after {
    content: ' >';
}

#repository-list {
    border-left: #333 1px solid;
    margin-left: 0.5em;
    padding-left: 1em;
}

.repository {
    width: fit-content;
    min-width: 35em;
    max-width: 90%;
    background-color: var(--secondary-color);
    color: var(--secondary-constast-color);
    border-radius: 5px;
    gap:5px;
    padding: 1em;
    margin: 1em 0;
}
.repository p {
    margin: 0.5em 0;
    max-height: 2.4lh;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.repository-avatar {
    position: relative;
    float: right;

    width: 40px;
    height: 40px;

    border-radius: 50%;
}

/* Style the footer */
footer {
    background-color: var(--secondary-color);
    color: var(--secondary-constast-color);
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Style links */
a {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Style lists */
ul {
    list-style-type: none;
}

li {
    padding: 0.5em 0;
}
